@font-face {
    font-family: 'CenturyGothic', sans-serif;
    src: url('../fonts/CenturyGothic.woff2') format('woff2'),
         url('../fonts/CenturyGothic.woff') format('woff'),
         url('../fonts/CenturyGothic.ttf') format('truetype');
    font-display: swap;    
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?33znyl');
  src:  url('../fonts/icomoon.eot?33znyl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?33znyl') format('truetype'),
    url('../fonts/icomoon.woff?33znyl') format('woff'),
    url('../fonts/icomoon.svg?33znyl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\f007";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-instagram:before {
  content: "\f16d";
}

